*.suo
*.local
*.user
*.lock.json

[Bb]in/
[Oo]bj/
[Ll]og/

/TFP/.vs/config/applicationhost.config
/TFP/.vs/config/applicationhost.config
/TFP/.vs/VSWorkspaceState.json
/TFP/.vs/slnx.sqlite
/TFP/.vs
/TFP/packages
/TFP/.idea
*.msi
*.pubxml