*.suo
*.local
*.user
*.lock.json

[Bb]in/
[Oo]bj/
[Ll]og/

/.vs/config/applicationhost.config
/.vs/config/applicationhost.config
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs
/packages
/.idea
*.msi
*.pubxml